 h1,h3{
/* font-family: 'Reggae One', cursive; */
 
    font-weight: 10px;
    color: rgb(44, 16, 130);
}

.about-heading{
    font-family: 'Bebas Neue', cursive;
   font-family: 'Bebas Neue', cursive;
    font-size: 117px;
}

.text-info{
    color: black !important;
}